.item .picture {
        width:$picWidth;
        height:$picWidth / 4 * 3;
        position: relative;
        border-radius: 3px;
        background: rgba(0,0,0,0.3);
        -webkit-backface-visibility: hidden;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.5),
                    0 1px 4px rgba(0,0,0,0.7),
                    0 0 0 1px rgba(255,255,255,0.04) inset;
    }
    
    /* Default image */
    .item .picture img {
        border-radius: 3px;
        position: relative;
        z-index: 50;
        width:$picWidth;
    }
    
    /* Shadow */
    .item .picture > b {
        position: absolute;
        top: 99%; left: 0;
        right: 0; bottom: 0;
        border-radius: 100%;
        background: #000;
        box-shadow: 0 0 20px 10px #000;
        opacity: 0;
        -webkit-transition: all 0.485s cubic-bezier(0.075, 0.45, 0.165, 1);
        -moz-transition: all 0.485s cubic-bezier(0.075, 0.45, 0.165, 1);
        -o-transition: all 0.485s cubic-bezier(0.075, 0.45, 0.165, 1);
        -ms-transition: all 0.485s cubic-bezier(0.075, 0.45, 0.165, 1);
    }
    
    /* Slits wrap */
    .item .picture .slits {
        position: absolute;
        top: 0; right: 0; 
        bottom: 0; left: 0;
        z-index: 40;
        -webkit-perspective: 700px;
        -moz-perspective: 700px;
        pointer-events: none;
    }
    
    /* Slit Style + Positioning */
    .item .picture .slits > div {
        position: absolute;
        top: 0; left: 0; 
        right: 0; bottom: 50%;
        overflow: hidden;
        -webkit-transition: all 0.485s cubic-bezier(0.075, 0.45, 0.165, 1);
        -moz-transition: all 0.485s cubic-bezier(0.075, 0.45, 0.165, 1);
        -o-transition: all 0.485s cubic-bezier(0.075, 0.45, 0.165, 1);
        -ms-transition: all 0.485s cubic-bezier(0.075, 0.45, 0.165, 1);
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: top;
        -o-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
    }
    
    /* Bottom slit positioning */
    .item .picture .slits > div + div {
        top: 50%; bottom: 0;
    }
    
    /* Bottom slit image position */
    .item .picture .slits > div + div img {
        //margin-top: -50%;
        margin-top: -37%;
    }
    
    /* Top slit radius */
    .item .picture .slits > div img,
    .item .picture .slits > div b,
    .item .picture .slits > div em {
        border-radius: 3px 3px 0 0;
    }
    
    /* Bottom slit radius */
    .item .picture .slits > div + div img,
    .item .picture .slits > div + div b,
    .item .picture .slits > div + div em {
        border-radius: 0 0 3px 3px;
    }
    
    /* Slit gradient + inner shadow */
    .item .picture .slits > div b,
    .item .picture .slits > div em {
        position: absolute;
        top: 0; left: 0;
        bottom: 0; right: 0;
        z-index: 70;
        -webkit-transition: all 0.485s cubic-bezier(0.075, 0.45, 0.165, 1);
    }
    
    /* Slit gradient highlight */
    .item .picture .slits > div em {
        opacity: 0;
        background-color: #000000;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(255, 255, 255)));
        background-image: -webkit-linear-gradient(top, rgb(0, 0, 0), rgb(255, 255, 255));
        background-image: -moz-linear-gradient(top, rgb(0, 0, 0), rgb(255, 255, 255));
        background-image: -o-linear-gradient(top, rgb(0, 0, 0), rgb(255, 255, 255));
        background-image: -ms-linear-gradient(top, rgb(0, 0, 0), rgb(255, 255, 255));
        background-image: linear-gradient(top, rgb(0, 0, 0), rgb(255, 255, 255));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#ffffff');
    }
    
    /* Top slit inner shadow */
    .item .picture .slits > div b {
        border: 1px solid rgba(255,255,255,0.3);
        border-bottom: 0;
    }
    
    /* Bottom slit inner shadow */
    .item .picture .slits > div + div b {
        border: 1px solid rgba(255,255,255,0.3);
        border-top: 0;
    }
    
/*  =====================================
    Item hover
/*  ===================================== */
    
    .item .picture:hover .slits > div + div {
        -webkit-transform: rotateX(65deg);
        -moz-transform: rotateX(65deg);
        -o-transform: rotateX(65deg);
        -ms-transform: rotateX(65deg);
        box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    }
    
    .item .picture:hover .slits > div + div b {
        background: rgba(0,0,0,0.2);
    }
    
    .item .picture:hover .slits > div + div em {
        opacity: 0.15;
    }
    
    /* Shadow */
    .item .picture:hover > b {
        top: 70%; left: 5%;
        right: 5%; bottom: 25%;
        opacity: 0.65;
    }
    
/*  =====================================
    Item underlay
/*  ===================================== */
    
    .item .picture .underlay {
        height: 34px;
        position: absolute;
        bottom: 6px; left: 0; right: 0;
        text-align: center;
        -webkit-transform: translate3d(0,0,0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Default button */
    .item .picture .underlay a {
        width: 34px;
        height: 34px;
        display: inline-block;
        margin: 0 8px;
        border-radius: 100px;
        position: relative;
        float:left;
        background-color: #1b1d1e;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(53, 56, 59)), to(rgb(34, 36, 38)));
        background-image: -webkit-linear-gradient(top, rgb(53, 56, 59), rgb(34, 36, 38));
        background-image: -moz-linear-gradient(top, rgb(53, 56, 59), rgb(34, 36, 38));
        background-image: -o-linear-gradient(top, rgb(53, 56, 59), rgb(34, 36, 38));
        background-image: -ms-linear-gradient(top, rgb(53, 56, 59), rgb(34, 36, 38));
        background-image: linear-gradient(top, rgb(53, 56, 59), rgb(34, 36, 38));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#35383b', EndColorStr='#222426');
        -webkit-transition: all 0.025s ease;
        box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.06),
                    inset 0 1px 1px 0 rgba(255,255,255,0.15),
                    0 0 1px 1px rgba(0,0,0,0.4),
                    0 1px 2px rgba(0,0,0,0.4);
        img {
            width:34px;
            height:34px;
            border-radius: 100px;
        }
    }
    
    .item .picture .underlay a:hover {
        background-color: #474a4e;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(71, 74, 78)), to(rgb(49, 51, 54)));
        background-image: -webkit-linear-gradient(top, rgb(71, 74, 78), rgb(49, 51, 54));
        background-image: -moz-linear-gradient(top, rgb(71, 74, 78), rgb(49, 51, 54));
        background-image: -o-linear-gradient(top, rgb(71, 74, 78), rgb(49, 51, 54));
        background-image: -ms-linear-gradient(top, rgb(71, 74, 78), rgb(49, 51, 54));
        background-image: linear-gradient(top, rgb(71, 74, 78), rgb(49, 51, 54));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#474a4e', EndColorStr='#313336');        
    }
    
    .item .picture .underlay a:active {
        background: #1b1d1e;
        box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.25),
                    inset 0 1px 3px 0 rgba(0,0,0,0.4),
                    0 1px 0 0 rgba(255,255,255,0.07),
                    0 0 0 1px rgba(255,255,255,0.03);
    }
    
    /* Rdio button */
    .item .picture .underlay a.r {
        background-color: #09639e;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(52, 171, 248)), to(rgb(18, 115, 177)));
        background-image: -webkit-linear-gradient(top, rgb(52, 171, 248), rgb(18, 115, 177));
        background-image: -moz-linear-gradient(top, rgb(52, 171, 248), rgb(18, 115, 177));
        background-image: -o-linear-gradient(top, rgb(52, 171, 248), rgb(18, 115, 177));
        background-image: -ms-linear-gradient(top, rgb(52, 171, 248), rgb(18, 115, 177));
        background-image: linear-gradient(top, rgb(52, 171, 248), rgb(18, 115, 177));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#34abf8', EndColorStr='#1273b1');
        box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.2),
                    inset 0 1px 0 0 rgba(255,255,255,0.1),
                    0 0 1px 1px rgba(0,0,0,0.4),
                    0 1px 2px rgba(0,0,0,0.4);
    }
    
    .item .picture .underlay a.r:hover {
        background-color: #59beff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(89, 190, 255)), to(rgb(25, 130, 198)));
        background-image: -webkit-linear-gradient(top, rgb(89, 190, 255), rgb(25, 130, 198));
        background-image: -moz-linear-gradient(top, rgb(89, 190, 255), rgb(25, 130, 198));
        background-image: -o-linear-gradient(top, rgb(89, 190, 255), rgb(25, 130, 198));
        background-image: -ms-linear-gradient(top, rgb(89, 190, 255), rgb(25, 130, 198));
        background-image: linear-gradient(top, rgb(89, 190, 255), rgb(25, 130, 198));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#59beff', EndColorStr='#1982c6');
        box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.2),
                    inset 0 1px 0 0 rgba(255,255,255,0.25),
                    0 0 1px 1px rgba(0,0,0,0.4),
                    0 1px 2px rgba(0,0,0,0.4);
    }
    
    .item .picture .underlay a.r:active {
        background: #09639e;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.95),
                    inset 0 1px 3px 0 rgba(0,0,0,0.4),
                    0 1px 0 0 rgba(255,255,255,0.07),
                    0 0 0 1px rgba(255,255,255,0.03);
    }

    .item .picture .underlay span {
        float:right;
        color:#fff;
        font-size:90%;
        line-height:1.3em;
        padding-right:10px;
        &.name {
            font-weight:bold;
        }
        &.likes {
            clear:right;
        }
    }
    
/*  =====================================
    Item underlay buttons
/*  ===================================== */
    


    /* Info */
    .item .picture .underlay a.i:after {
        content: '';
        display: block;
        width: 9px;
        height: 17px;
        position: absolute;
        top: 50%; left: 50%;
        margin: -9px 0 0 -5px;
        background: url(../img/sprite.png) no-repeat -1px 0;
    }
    
    .item .picture .underlay a.i:hover:after {
        background-position: -1px -19px;
    }
    
    .item .picture .underlay a.i:active:after {
        background-position: -1px -39px;
    }
    
    /* Rdio */
    .item .picture .underlay a.r:after {
        content: '';
        display: block;
        width: 24px;
        height: 20px;
        position: absolute;
        top: 50%; left: 50%;
        margin: -9px 0 0 -10px;
        background: url(../img/sprite.png) no-repeat 0px -61px;
    }
    
    .item .picture .underlay a.r:active:after {
        background-position: 0px -82px;
    }
    
    /* Download */
    .item .picture .underlay a.d:after {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        position: absolute;
        top: 50%; left: 50%;
        margin: -10px 0 0 -10px;
        background: url(../img/sprite.png) no-repeat 0px -104px;
    }
    
    .item .picture .underlay a.d:hover:after {
        background-position: 0px -126px;
    }
    
    .item .picture .underlay a.d:active:after {
        background-position: -1px -149px;
    }
    
/*  =====================================
    Item title + author
/*  ===================================== */
    
    .item hgroup {
        text-align: center;
        -webkit-backface-visibility: hidden;
    }
    
    /* Title */
    .item hgroup h1 {
        padding: 5px 15px 2px;
        font-size: 13px;
        font-weight: 700;
        background: #1d1e20;
        color: #fff;
        border-radius: 30px;
        text-transform: uppercase;
        margin: 15px 0 10px;
        display: inline-block;
        cursor: pointer;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        -ms-transition: all 0.15s linear;
    }
    
    .item hgroup h1:hover {
        background: #fff;
        color: #000;
    }
    
    /* Artist */
    .item hgroup h5 {
        font-size: 11px;
        font-weight: 500;
        color: #91959c;
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        cursor: pointer;
        display: inline-block;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        -ms-transition: all 0.15s linear;
    }
    
    .item hgroup h5:hover {
        color: #fff;
    }